# Workflow is based on the Astropy GitHub actions workflow, ci_workflows.yml
name: CI

on:
    push:
        branches:
            - '*'
        tags:
            - '*'
    pull_request:

jobs:
    tests:
        name: Unit tests
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                include:
                    - os: ubuntu-latest
                      python-version: '3.13'
                      numpy-version: ''
                      astropy-version: ''
                      coverage: false
                    - os: ubuntu-latest
                      python-version: '3.12'
                      numpy-version: '<2.1'
                      astropy-version: '<8.0'
                      coverage: false
                    - os: ubuntu-latest
                      python-version: '3.11'
                      numpy-version: '<2.0'
                      astropy-version: '<7.0'
                      coverage: false
                    - os: ubuntu-latest
                      python-version: '3.10'
                      numpy-version: '<1.23'
                      astropy-version: '<6.1'
                      coverage: true


        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                python -m pip install --upgrade pip setuptools wheel
                python -m pip install --upgrade "numpy${{ matrix.numpy-version }}"
                python -m pip install --upgrade "astropy${{ matrix.astropy-version }}" fitsio numba
            - name: Install DESI packages
              run: python -m pip install desiutil desimodel desitarget desispec
            - name: Prepare package for testing
              if: ${{ !fromJSON(matrix.coverage) }}
              run: python -m pip install --editable .[test]
            - name: Prepare package for testing with coverage
              if: ${{ fromJSON(matrix.coverage) }}
              run: python -m pip install --editable .[coverage]
            - name: Run the test
              if: ${{ !fromJSON(matrix.coverage) }}
              run: pytest
            - name: Run the test with coverage
              if: ${{ fromJSON(matrix.coverage) }}
              run: pytest --cov
            - name: Coveralls
              if: ${{ fromJSON(matrix.coverage) }}
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
              run: coveralls

    docs:
        name: Doc test
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.12']

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: python -m pip install --upgrade pip setuptools wheel Sphinx sphinx-rtd-theme
            - name: Test the documentation
              run: sphinx-build -W --keep-going -b html doc doc/_build/html

    api:
        name: API doc completeness test
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.12']

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: python -m pip install --upgrade pip setuptools wheel desiutil
            - name: Generate api.rst
              run: desi_api_file --api ./api.rst specprodDB
            - name: Compare generated api.rst to checked-in version
              run: diff --ignore-space-change --ignore-blank-lines ./api.rst ./doc/api.rst

    style:
        name: Style check
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ['3.12']

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: python -m pip install --upgrade pip setuptools wheel pycodestyle
            - name: Test the style
              # Uncomment continue-on-error to allow failures.
              # continue-on-error: true
              run: pycodestyle --count py/specprodDB
